.cardCol{
    /* height: 200px; */
    width: 80%;
    /* background-color: red; */
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin: auto;
    margin-top: 2rem;
    gap: 0.5rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.link{
    text-decoration: none;
    color: gray;
}
.comp{

    /* border: 1px solid blue; */
    width: 150px;
    
}

#headingTop{
    /* background-color: red; */
/* border: 1px solid red; */
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
width: 97%;

}

#mainComp{
   
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0.5rem;
   padding-bottom: 1.5rem;
}
.imgCard{
    width: 100%;
    height: 180px;
}
.strong{
    font-size: 1.5rem;
    color: gray;
    margin-left: 1.5rem;
}
.lk{
  font-size: 1.2rem;
  color: skyblue;
  text-decoration: none;
}



/* petfinder */
#petfinder{
    /* border: 1px solid red; */
    /* background-color: #3f3f416c; */
    margin-top: 2rem;
}

.petFinderLogo{

}
.headPetLogo{
    margin: 2rem 0;
    font-size: 2rem;
    color: rgb(114 110 110);
}
.petLogo{
    font-size: 1.6rem;
    color: rgb(159, 156, 156);
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    align-items: center;
    align-content: center;
}
.petLogo img{
    width: 50%;
    height: 10%;
}

.fourCards{
    /* border: 1px solid blue; */

    /* height: 100px; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    margin: auto;

}
.cardItem{
    /* border: 1px solid green; */
    /* height: 80px; */
    width: 200px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 0.5rem;
    padding:  0.5rem ;
    padding-bottom: 1rem;
}
.cardItem >div >img{
    width: 60%;
    height: 100px;
    margin: 1.5rem;
    margin-bottom: 0;
    /* padding: 1rem; */
}
.cardItem p{
    font-size: 0.9rem;
    margin: 0;
    color: #868689;
}
.cardItem h2{
    margin: 0;
    color: #79797a;
    font-weight: 500;
    font-size: 1.2rem;
}
.t{
    width: 85%;
    margin: auto;
    margin-top: 4.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #79797a;
}

.joinBtn{
    padding: 0.5rem 3rem;
    background-color: #f53838;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    
}

.joinBtn >span{
    margin-top: 0;
    font-size: 1rem;
}

.featuredOn{
    /* border: 1px solid red; */
    /* height: 200px; */
    margin-top: 3rem;
}
.featuredOn p{
    font-size: 1.5rem;
    font-weight: 600;
    /* color: #868689; */
}

.featuredOn p + img{
    width: 80%;
}
.lsImg{
    margin-top: 4rem;
    background-color: #a49f9f29;
    width: 100%;
}
.lsImg>img{
    width: 80%;
    margin: auto;
}

.allCont{
    background-color: #a49f9f29;
    padding: 1rem;
}